.App{
    background-color: rgba(160, 90, 218, 0.17);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    overflow: auto;
}

.facialPage{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.facialPageHeader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.66);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.facialPageHeaderButton{
    background:none;
    border: none;
    font-family: Arial;
    font-size: x-large;
    margin: 10px;
    border-bottom:3px rgba(255, 255, 255, 0.01) solid;
    background: linear-gradient(45deg, rgba(40, 88, 234, 0.8) 12%, rgba(192, 40, 234, 0.82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.facialPageHeaderButton:hover{
    background: none;
    border: none;
    font-family: Arial;
    border-bottom: 3px solid #2858ea;
    display: inline;
    background: linear-gradient(45deg, rgba(40, 88, 234, 0.8) 12%, rgba(192, 40, 234, 0.82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.facialPagePromoAndPromoAddition{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.facialPagePromo{
    margin-left: 30px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.facialPageFooter{
    margin-top: auto;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.buttonAndAdd{
    margin-left: 30px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.facialPageCreateAccount{
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 360px;
    height: 180px;
    margin-left:35px;
    margin-bottom: 80px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.66);
}
.facialPageCreateAccountButAndAdd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.facialPageCreateAccountLogPas{
    width: 300px;
    border:1px solid rgba(0, 0, 0, 0.35);
    height: 25px;
    border-radius: 7px;
    background:  rgba(255, 255, 255, 0.66);
}

.facialPageCreateAccountLogPas:hover{
    width: 300px;
    border:1px solid #2858ea;
    height: 25px;
    border-radius: 7px;
}

.facialPageCreateAccountAddition{
    color:#2858ea ;
    font-family:Arial;
    text-decoration: underline;
    border: none;
    background-color: rgba(160, 90, 218, 0.01);
    margin-right: 20px;
}
.facialPageCreateAccountButton{
    border:none;
    background-color: #2858ea;
    width: 85px;
    height: 37px;
    border-radius: 6px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

.facialPagePromo_Promo{
    font-family:FreeMono, monospace;
    width: 400px;
    font-size: 70px;
    background: linear-gradient(45deg, rgba(40, 88, 234, 0.8) 33%, rgba(255, 163, 2, 0.73) 12%, rgba(192, 40, 234, 0.82));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.facialPageCreateAccountButtonLink{
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: small;
}


.facialPagePromo_PromoAddition{
    width: 350px;
    color: #62585f;
    font-size: 15px;
    font-family:Arial, monospace;
    margin-left: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 210px;
}
.facialPageHeaderLogo{
    display: flex;
    flex-direction: row;
    color: rgba(178, 164, 164, 0);
    width: 200px;
    height: 60px;
}

.facialPageHeaderLoginAndRegistration{
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.borderRegistrationWindow{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 0px 10px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

}

.borderRegistrationWindow_greetings{
    margin: 10px;
    width: -moz-max-content;
    height: min-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    font-family: Arial;
    color: rgba(0, 0, 0, 0.5);
    margin:20px;
}

.borderRegistrationWindow_buttons{
    height: 10%;
    margin: 30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.borderRegistrationWindow_buttons_button{
    height: 100%;
    width: 45%;
    border:  #34449f 1px solid;
    background-color:  #34449f;
    text-decoration: none;
    border-radius: 7px;
}

.borderRegistrationWindow_personData{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    height:130%;
}

.borderRegistrationWindow_greetings_DLA{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: #34449f;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    color: #6cd8cb;
    font-family: "Arial Black";
    margin: 30px;
}

.facialPageAboutUs{
    width: 300px;
    border: #62585f 1px solid;
    height: 450px;
}

.link{
    text-decoration: none;
    color:black;
    font-family: Arial;
}
.link:hover{
    text-decoration: none;
    color:black;
    font-family: Arial;
}


.borderRegistrationWindow_crBut{
    border:  #34449f 1px solid;
    background-color:  #34449f;
    text-decoration: none;
    border-radius: 7px;
    height:40px;
    width: 50%;
    margin: auto;
    color: #e5e6f1;
    font-family: Arial;
    transition: 0.6s;
}

.borderRegistrationWindow_crBut:disabled{
    border:  #87847e 1px solid;
    background-color: #817d77;
    text-decoration: none;
    border-radius: 7px;
    height:min-content;
    width: -moz-min-content;
    margin: auto;
    color: rgba(0, 0, 0, 0.79);
    transition: 0.6s;
}

.borderRegistrationWindow_crBut:hover{
    width: 52%;
    height: 43px;
    transition: 0.1s;
    box-shadow: rgb(0, 0, 0) 0px 0px 7px;
}
.borderRegistrationWindow_crBut:disabled:hover{
    border:  #87847e 1px solid;
    background-color: #817d77;
    text-decoration: none;
    border-radius: 7px;
    height:min-content;
    width: -moz-min-content;
    margin: auto;
    box-shadow: rgb(0, 0, 0) 0px 0px 7px;
}


.error{
    color: rgba(255, 0, 0, 0.83);
    font-size: smaller;
    font-family: Arial;
}
.errorNO{
   color:#2858ea;
    font-size: smaller;
    font-family: Arial;
}
.DLA{
    width: 30px;
    height: 30px;
    border: #34449f 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}